<%-include('partials/header')%>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/try.css">
</head>
<body>
    <%-include('partials/navbar')%>
    <section class="hero">
      <div class="background-image"></div>
      <div class="hero-content-area">
        <div class="cards-list">
          <%cateogoryList.forEach((value)=>{ %>
              <a href="category/<%-value%>">
                  <div class="card 1">
                      <div class="card_image"> <img src="https://media.giphy.com/media/10SvWCbt1ytWCc/giphy.gif" /></div>
                      <div class="card_title title-white">
                        <p><%-value.toUpperCase()%></p>
                      </div>
                    </div>
              </a>
          <%})%>
          </div>
      </div>
  </section>
    <!-- <div class="cards-list">
        <%cateogoryList.forEach((value)=>{ %>
            <a href="category/<%-value%>">
                <div class="card 1">
                    <div class="card_image"> <img src="https://i.redd.it/b3esnz5ra34y.jpg" /></div>
                    <div class="card_title title-white">
                      <p><%-value.toUpperCase()%></p>
                    </div>
                  </div>
            </a>
        <%})%>
        </div> -->
</body>
</html>