<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NodeNews</title>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/try.css">
</head>
<body>
  <header>
    <h2><a href="#"><i class="far fa-newspaper"></i> NodeNews</a></h2>
            <nav>
                <li><a href="#" class="nav-link">Top headlines</a></li>
                <li><a href="#" class="nav-link">Country</a></li>
                 <li><a href="#" class="nav-link">Category</a></li>
                <li><a href="#"><i class="fas fa-id-card-alt"></i> About Us</a></li>
            </nav>
</header>
    <section class="hero">
      <div class="background-image"></div>
      <div class="hero-content-area">
        <div class="cards-list">
          <%if(countries !== null) {%>
            <%countries.Countries.forEach((country)=>{ %>
              <a href="<%-countries.category%>/<%-country.alpha2Code.toLowerCase()%>">
                  <div class="card 1">
                      <div class="card_image"> <img src="<%-country.flag%>" alt="<%-country.alpha2Code%>"/></div>
                      <div class="card_title title-white">
                        <p><%-country.name%></p>
                      </div>
                    </div>
              </a>
          <%})%>
          <%}else {%>
            <h1>No Countries Found</h1>
          <%}%>
          </div>
      </div>
  </section>
</body>
</html>