<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NodeNews</title>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <div class="nav">
            <ul>
              <li><a href="/" class="nav-link">Top headlines</a></li>
              <li><a href="/country" class="nav-link">Country</a></li>
              <li><a href="/category" class="nav-link">Category</a></li>
              <li><a href="#" class="nav-link">Sources</a></li>
            </ul>
          </div>
    </header>
    <div class="wrapper">
        <div class="news"> 
            <%if(articles !== null) { %>
                <% articles.forEach((article)=> { %>
                    <a href="<%-article.url%>" class="news__card">
                        <h4><%-article.source.name%></h4>
                        <img src="<%-article.urlToImage%>" alt="<%-article.author%>">
                        <h2><%-article.title%></h2>
                        <p><%-article.description%></p>
                    </a>
                <%})%>
            <%} else {%>
              <h1>No News Found</h1>
            <%}%>
        </div>
    </div>
</body>
</html>