<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NodeNews</title>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/codepen.css">
</head>
<body>
    <div class="row">
        <%if(articles !== null) { %>
        <% articles.forEach((article)=> { %>
        <a href="<%-article.url%>">
            <div class="example-1 card">
                <div class="wrapper">
                <img src="<%-article.urlToImage%>" alt="<%-article.author%>">
                  <div class="date">
                    <span class="day">22</span>
                    <span class="month">Nov</span>
                    <span class="year">2020</span>
                  </div>
                  <div class="data">
                    <div class="content">
                      <span class="author"><h4><%-article.source.name.toUpperCase()%></h4></span>
                      <h1 class="title"><%-article.title%></h1>
                      <p class="text"><%-article.description%></p>
                    </div>
                  </div>
                </div>
              </div>
        </a>
        <%})%>
        <%} else {%>
            <h1>No News Found</h1>
        <%}%>
    </div>
    <!-- <section class="hero">
        <div class="background-image"></div>
        <div class="hero-content-area">
            <div class="cards-list">
                <%if(articles !== null) { %>
                    <% articles.forEach((article)=> { %>
                        <a href="<%-article.url%>">
                            <div class="card">
                                <div class="card_image"> <img src="<%-article.urlToImage%>" alt="<%-article.author%>"/></div>
                                <div class="card_title title-white">
                                    <h4><%-article.source.name.toUpperCase()%></h4>
                                </div>
                            </div>
                        </a>
                        <%})%>
                        <%} else {%>
                            <h1>No News Found</h1>
                        <%}%>
            </div>
        </div>
    </section> -->
    <!-- <div class="wrapper">
        <div class="news"> 
            <%if(articles !== null) { %>
                <% articles.forEach((article)=> { %>
                    <a href="<%-article.url%>" class="news__card">
                        <h4><%-article.source.name%></h4>
                        <img src="<%-article.urlToImage%>" alt="<%-article.author%>">
                        <h2><%-article.title%></h2>
                        <p><%-article.description%></p>
                    </a>
                <%})%>
            <%} else {%>
              <h1>No News Found</h1>
            <%}%>
        </div>
    </div> -->
</body>
</html>